<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708090347587-1otss49he82454a7f3thc809rrdsuh6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708090347587-1otss49he82454a7f3thc809rrdsuh6v</string>
	<key>API_KEY</key>
	<string>AIzaSyAxfOaaPVtANndNlYV6bIHbu7lR2s5rpJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>708090347587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>live.safeopioidusecoalition.confidant</string>
	<key>PROJECT_ID</key>
	<string>confidant-health-ab28d</string>
	<key>STORAGE_BUCKET</key>
	<string>confidant-health-ab28d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708090347587:ios:962d094bfd24c1c8</string>
	<key>DATABASE_URL</key>
	<string>https://confidant-health-ab28d.firebaseio.com</string>
</dict>
</plist>